body{
    padding: 100px;
}

.container{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container p{
    padding:20px;
	font-size:22px;
	margin-bottom:0;
	font-family:sans-serif;
}

.link-button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
    border-radius: 5px;
}
.link-button:hover{
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer; 
}



.question-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    z-index: 0;
}

.question-form p{
    padding: 0;
    font-size: 18px;
}

.answer{
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    background-color: inherit;
    border: 1px solid rgb(0, 0, 0);
}

.answer input.answer-input {
    width:100%;
    height:100%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      overflow: hidden;
  }
.answer:hover{
    transform: scale(1.05);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
    background-color: lightblue;
}
.answer span{
    width: 100%;
    height: 100%;


}
.answer input.answer-input:checked + span{
    background-color: lawngreen;
}

.answer input:not(:checked) + span{
    background-color: inherit;
}

.submit_btn{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #70d9e7;
    border: 2px solid #70d9e7;
    border-radius: 5px;
}

.submit_btn:hover{
    transform: scale(1.05);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}